

<nav>
    <a href="/pokemon"><button>Pokemon Main Page</button></a> 
    <a href="/pokemon/new"><button>Add a New Pokemon</button></a>
    <br><br>

    <a href="/pokemon"><img class="pokeball" src="https://i.imgur.com/N6kkz5E.png" width="60px"></label></a>
    <br><br>
    <h1 class="title">Pokédex</h1>
</nav>